@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --green:#69CF17;
    --white:#FFFFFF;
    --black: #0C0C0C;
    --green1:#0A9418BF;

}

body {
    background: var(--black);
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    
}

/* header start */

.header__poster {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 17px;
    margin-bottom: 18px;
}

.header__poster-icon {
    font-size: 20px;
    color: var(--white);

}

.header__poster-span {
    color: var(--white);
    font-size: 16px;
    line-height: 19px;
    font-family: 'RR';
}

.header__poster-list {
    display: flex;
}

.header__poster-link {
    color: var(--white);
    font-size: 16px;
    line-height: 19px;
    font-family: 'RR';
    margin-right: 30px;
}

.header__nav {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(125, 115, 115, 0.5);

}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    
}

.header__nav-logo {
    background: rgba(10, 148, 24, 0.75);;
    color: var(--white);
    font-size: 36px;
    line-height: 30px;
    font-family: 'RobB';
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 12px 18px 11px 18px;
    border-radius: 4px;
    border: 4px solid #06600F;

}


.header__nav-list {
    display: flex;
    align-items: center;
}


.header__nav-link {
    color: var(--white);
    font-size: 18px;
    line-height: 22px;
    font-family: 'RAR';
    margin-right: 28px;  
}

.header__nav-link:hover {
    background: var(--green);
   }

.header__content {
    background: url(../images/header\ img\ 1.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__content-h1 {
    color: var(--green);
    font-size: 72px;
    line-height: 85px;
    font-family: 'RB';
    font-weight: 900px;

}

.header__content-h4 {
    color: var(--green);
    font-family: 'RAR';
    font-size: 36px;
    line-height: 17px;
    margin-top: 18px;
}

.header__content-p {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
    margin-top: 18px;
    font-family: 'RAR';

}

.header__content-p1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header__content-p2 {
    color: var(--white);
    font-size: 50px;
    line-height: 25px;
    font-family: 'RT';
    background: rgba(105, 207, 23, 0.5);
    padding: 33px 76px;
    
}

.header__content-a1 {
    color: var(--white);
    font-family: 'RAR';
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    padding: 15px 70px;
    border-radius: 6px;
}

.header__content-burger {
    display: flex;
    flex-direction: column;

    
}

/* header end */

/* main start */

.main__content-img {
    position: relative;
}

.main__content-img1 {
    width: 100%;
}

.main__content-span {
    background: linear-gradient(0deg, rgba(12, 12, 12, 0.44), rgba(12, 12, 12, 0.44));
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content-span1 {
    color: rgba(105, 207, 23, 0.7);
    text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
    font-size: 55px;
    line-height: 65px;
    font-family: 'RB';
}

.main__description-p {
    margin: 30px 0;

}

.main__description-p1 {
    color: var(--white);
    font-size: 18px;
    line-height: 25px;
    font-family: 'RB';
    text-align: justify;

}






















.main__filial {
    background: var(--white);

}

.main__filial-h3 {
    color: #69CF17;
    font-size: 50px;
    line-height: 40px;
    font-family: 'RB';
    text-align: center;
    padding: 20px 0;

}

.main__filial-map {
    width: 100%;
}
/* main end */

/* footer start */

.footer {
    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
}
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.footer__nav-logo{
    background: rgba(10, 148, 24, 0.75);;
    color: var(--white);
    font-size: 36px;
    line-height: 30px;
    font-family: 'RobB';
    margin-top: 30px;
    margin-bottom: 6px;
    padding: 12px 18px 11px 18px;
    border-radius: 4px;
    border: 4px solid #06600F;
}

.footer__nav-tel {
    color: var(--white);
    font-size: 20px;
    list-style: 24px;
    font-family: 'RobB';
}

.footer__nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 81px 0;
}

.footer__nav-link1 {
    color: var(--white);
    font-size: 20px;
    line-height: 24px;
}

.footer__nav-ul li:nth-of-type(2) {
    margin-left: 20px;
    margin-right: 20px;
  
}
    
.footer__end-company {
    background: #1A3406;
    color: var(--white);
    font-size: 16px;
    line-height: 19px;
    font-family: 'RR';
    padding: 19px 0;
    text-align: center;
}


    



